
.blogdisplay
{
    
    display:grid;
    height: 4vw;
    width: 100%;
    grid-template-columns: repeat(5, 10vw);
    grid-gap: 1vh;
    justify-content: left;
    align-items: center;
    grid-template-areas:
    "profile profile profile profile returnhome";
}