@import url(homelinkstylesheet.css);
@import url(blogliststylesheet.css);
@import url(blogstylesheet.css);
@import url(socialsstylesheet.css);
@import url(tabletstylesheet.css);
@import url(desktopstylesheet.css);
@import url(textconfiguration.css);

.container
{
    display:grid;
    width: 100vw;
    height:100vh;
    grid-template-columns: 90vw;
    grid-template-rows: 10vw 10vw 1fr 10vw;
    grid-template-areas:
    "homelink"
    "bloglist"
    "blog"
    "socials";
    /* TODO: remove container border once layout is complete */
    /* border: 2px solid yellow; */
    justify-content: center;
}

.box
{
    border: 1px solid black;
    background-color: #f8fa9d;
}
.homelink
{
    grid-area: homelink;
}

.bloglist
{
    grid-area: bloglist;
}

.blog
{
    grid-area: blog;
}

.socials
{
    grid-area: socials;
}

