body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    background-color: wheat;
    color:black;

}

h1
{
    color: blueviolet;
}

h2
{
    color:firebrick;
}

a
{
    color: blueviolet;
}

