#homelinkgrid
{
    display:grid;
    grid-template-rows: 10vh;
    justify-content: center;
    align-items: center;
}

.homelinkdisplay
{
    
    display:grid;
    height: 4vw;
    width: 100%;
    grid-template-columns: repeat(5, 10vw);
    grid-gap: 1vh;
    justify-content: left;
    align-items: center;
    grid-template-areas:
    "profile profile profile profile returnhome";
}

#profilephoto
{
    background-image: url(/img/profilephoto.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    grid-area: profile;
    justify-content: center;
}

@media(min-width:600px)
{
    ul
    {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
}
