@import url(homelinkstylesheet.css);
@import url(blogliststylesheet.css);
@import url(blogstylesheet.css);
@import url(socialsstylesheet.css);
@import url(textconfiguration.css);


/* TODO: separate header footer etc into separate css files */
.box
{
    border: 1px solid black;
    background-color: #f8fa9d;
}
.homelink
{
    grid-area: homelink;
}

.bloglist
{
    grid-area: bloglist;
}

.blog
{
    grid-area: blog;
}

.socials
{
    grid-area: socials;
}

/* grid for minimum/mobile width */
.container
{
    display:grid;
    /* width: 100vw; */
    /* height:100vh; */
    grid-template-columns: 90vw;
    grid-template-rows: 10vh max-content 10vh 10vh;
    grid-template-areas:
    "homelink"
    "blog"
    "bloglist"
    "socials";
    /* TODO: remove container border once layout is complete */
    /* border: 2px solid yellow; */
    justify-content: center;
}

/* Media query to determine if viewport is of 'tablet' width */
/* 361 was chosen as width for smallest device size following a search of the most common non-tablet mobile device resolutions*/
@media(min-width:600px)
{
    .container
    {
        display:grid;
        width: 100vw;
        height:100vh;
        grid-template-columns: 30vw 60vw;
        grid-template-rows: 10vw max-content 10vw;
        grid-template-areas:
        "homelink homelink"
        "bloglist blog"
        "socials socials";
        /* TODO: remove container border once layout is complete */
        /* border: 2px solid yellow; */
        justify-content: center;
    } 
}

@media(min-width:1200px)
{
    .container
    {
        display:grid;
        /* width: 100vw;
        height:100vh; */
        grid-template-columns: 15vw 60vw 15vw;
        grid-template-rows: 10vw max-content 10vw;
        grid-template-areas:
        "homelink homelink homelink"
        "blog blog bloglist"
        "socials socials socials";
        /* TODO: remove container border once layout is complete */
        /* border: 2px solid yellow; */
        justify-content: center;
    } 
}
