#socialsgrid
{
    display:grid;
    grid-template-rows: 10vh;
    align-items: center;
    justify-content: center;
}

.socialsdisplay
{
    margin-top: 1vh;
    display:grid;
    height: 4vw;
    width: 100%;
    grid-template-columns: repeat(5, 10vw);
    grid-gap: 1vh;
    justify-content: center;
    align-items: center;
    grid-template-areas:
    "li gh bs ig tw";
}

#linkedin
{
    background-image: url(/static/img/LinkedIn_logo_initials.png);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    grid-area: li;
}
#github
{
    background-image: url(/static/img/github-mark.svg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    grid-area: gh;
}
#bluesky
{
    background-image: url(/static/img/Bluesky_Logo.svg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
}
#instagram
{
    background-image: url(/static/img/Instagram_logo_2016.svg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
}
#twitter
{
    background-image: url(/img/Logo_of_Twitter.svg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
}