body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    background-color: wheat;
    color:black;

}

h1
{
    color: blueviolet;
}

h2
{
    color:firebrick;
}

h3

{
    color:cornflowerblue;
}

a
{
    color: blueviolet;
}

b
{
    font-weight: bold;
}

u
{
    text-decoration: underline;
}

q
{
    font-style:italic;
}